<div class="row" style="width:100%">
      <div class="col-lg-3 col-md-3"> 
        <div class="listPost mt-4">
            <div class="title">
                <span>Bài viết mới</span>
            </div>
            <ul>

            <% listReference.forEach(item=>{%>
                <li>
                    <div class="left res-img" style="background:url('<%=item.image%>')">
                    </div>
                    <a href="/page/tham-khao/<%= item._id %>">
                        <div class="right">
                            <span><%= item.title %></span>
                        </div>
                    </a>
                </li>
                <%}) %>
              
            
                
            </ul>
        </div>
    </div>

    <div class="col-lg-9 col-md-9 col-sm-12">
        <div class="row row-large">
            <div class="knowledge-content">
                <div class="entry-header">
                    <h6 class="xs-small" style="text-transform:uppercase"><a href="">Kiến Thức</a></h6>
                    <h1><%= reference.title %></h1>
                    <div class="small-divide"></div>
                    <div class="entry-meta xs-small">
                        <span>post on</span>
                        <div class="date-post">
                            <a href=""><%= reference.date %></a>
                        </div>
                        <span>by</span>
                        <div class="author-post">
                            <a href="">cfx</a>
                        </div>
                    </div>
                </div>

                <div class="entry-img relative">
                    <img width="640px" height="640px" src="<%= reference.image %>" alt="">
                    <div class="badge absolute top post-date badge-square">
                        <div class="badge-inner">
                            <span class="post-date-day"><%= reference.date %></span><br>
                            <span class="post-date-month is-small"></span>
                        </div>
                    </div>
                </div>

                <div class="entry-content">
                    <div id="main-content">
                        <%= reference.content %>
                    </div>
                    <div class="entry-social-btn mb-3">
                        <!--Facebook-->
                        <button type="button" class="btn btn-fb mb-1" style="color: #fff; background-color:#3b5998 ;"><i
                                class="fab fa-facebook-f pr-1"></i> Facebook</button>
                        <!--Twitter-->
                        <button type="button" class="btn btn-tw mb-1" style="color: #fff; background-color:#55acee ;"><i
                                class="fab fa-twitter pr-1"></i> Twitter</button>
                        <!--Google +-->
                        <button type="button" class="btn btn-gplus mb-1" style="color: #fff; background-color:#dd4b39 ;"><i
                                class="fab fa-google-plus-g pr-1"></i> Google
                            +</button>
                        <!--Linkedin-->
                        <button type="button" class="btn btn-li mb-1" style="color: #fff; background-color:#0082ca ;"><i
                                class="fab fa-linkedin-in pr-1"></i> Linkedin</button>
                        <!--Instagram-->
                        <button type="button" class="btn btn-ins mb-1" style="color: #fff; background-color:#2e5e86 ;"><i
                                class="fab fa-instagram pr-1"></i> Instagram</button>
                        <!--Pinterest-->
                    </div>
                    <nav role="navigation" id="nav-below" class="navigation-post">
                        <div class="flex-row next-prev-nav bt bb">
                            <div class="flex-col flex-grow nav-prev text-left">
                                <div class="nav-previous"><a href="" rel="prev"><span class="hide-for-small"><i
                                                class="fa fa-angle-left" aria-hidden="true"></i></span> Chả
                                        cốm ăn với gì ngon</a></div>
                            </div>
                            <div class="flex-col flex-grow nav-next text-right">
                            </div>
                        </div>

                    </nav>
                </div>
            </div>
        </div>
    </div>
  
</div>
   
<script>
    const divContent=document.getElementById('main-content');
    divContent.innerHTML=divContent.textContent;
</script>